:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
  'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
  'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

:root[data-theme=synthwave] {
  --primary-color: #a347c3;
  --secondary-color: #f98cc8;
  --text-color: #fff;
  --link-color: #a347c3;
}

:root[data-theme=rugrats] {
  --primary-color: #FDDE01;
  --secondary-color: #7FB7DD;
  --text-color: #000;
  --link-color: #FDDE01;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-mono);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(0deg, var(--primary-color) 0%, var(--secondary-color) 80%);
}

.heading {
  color: var(--text-color)
}

.link, .link:hover, .link:visited {
  color: var(--link-color);
  text-decoration: none;
  padding: 0.5em 1em;
}

.link-active, .link-active:is(:hover, :visited) {
  color: var(--text-color)
}

.btn-list {
  list-style: none;
}

.btn-list > li {
  margin: 10px auto;
}

.btn {
  cursor: pointer;
  
  border: 1px solid var(--secondary-color);
  color: var(--text-color);
  font-size: 1em;
  padding: 1em;
  border-radius: 2em;
  font-weight: 600;
  backdrop-filter: blur(2px);
  background-color: rgba(100, 100, 100, 0.1);
}

.btn-lg {
  width: 400px;
}

.btn-selected {
  background-color: var(--primary-color);
  backdrop-filter: blur(0);
  transition: backdrop-filter 0.2s linear, background-color 0.2s linear;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo,
.thirteen {
  position: relative;
}

.thirteen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  padding: 25px 10px;
  margin-left: 16px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0px 2px 8px -1px #0000001a;
}

.thirteen::before,
.thirteen::after {
  content: '';
  position: absolute;
  z-index: -1;
}

/* Conic Gradient Animation */
.thirteen::before {
  animation: 6s rotate linear infinite;
  width: 200%;
  height: 200%;
  background: var(--tile-border);
}

/* Inner Square */
.thirteen::after {
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(
    to bottom right,
    rgba(var(--tile-start-rgb), 1),
    rgba(var(--tile-end-rgb), 1)
  );
  background-clip: content-box;
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }
}

/* Mobile and Tablet */
@media (max-width: 1023px) {
  

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  
}
