:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
  'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
  'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

:root[data-theme=synthwave] {
  --primary-color: #a347c3;
  --secondary-color: #f98cc8;
  --text-color: #fff;
}

:root[data-theme=rugrats] {
  --primary-color: #FDDE01;
  --secondary-color: #7FB7DD;
  --text-color: #000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-mono);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(0deg, var(--primary-color) 0%, var(--secondary-color) 80%);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color)
}

.btn-list {
  list-style: none;
}

.btn-list > li {
  margin: 10px auto;
}

.btn {
  cursor: pointer;
  
  border: 1px solid var(--secondary-color);
  color: var(--text-color);
  font-size: 1em;
  padding: 1em;
  border-radius: 2em;
  font-weight: 600;
  backdrop-filter: blur(2px);
  background-color: rgba(100, 100, 100, 0.1);
}

.btn-lg {
  width: 400px;
}

.btn-selected {
  background-color: var(--primary-color);
  backdrop-filter: blur(0);
  transition: backdrop-filter 0.2s linear, background-color 0.2s linear;
}